@import '../../../assets/scss/medias';
@import '../../../assets/scss/helpers';

.CellContainer {
    text-align: center;
    overflow: hidden;

    @include media_tablet {
        max-width: 200px;
        margin: 0 auto px-to-vw-tablet(58px);
    }

    @include media_desktop {
        max-width: 200px;
        max-height: 500px;
        margin: 0 auto px-to-vh(80px);
    }

    span {
        display: block;
        white-space: pre-wrap;
        text-overflow: ellipsis;
    }
}

.ImageContainer {
    width: min-content;
    height: min-content;
}

.Image {
    border-radius: 70px;
}

.NameText {
    line-height: 1;
    margin: px-to-vh(19px) 0 px-to-vh(18px);
}