@import '../../../assets/scss/medias';
@import '../../../assets/scss/helpers';

.AcquaintanceContainer {
    text-align: center;

    @include media_tablet {
        padding: px-to-vw-tablet(113px) 0 px-to-vw-tablet(88px);
    }

    @include media_desktop {
        padding: px-to-vh(220px) 0 px-to-vh(183px);
    }
}

.DescriptionContainer {
    width: 100%;
    display: inline-flex;

    @include media_tablet {
        margin: px-to-vh(50px) 0;
    }

    @include media_desktop {
        margin: px-to-vh(50px) 0;
    }
}

.Image {
    @include media_tablet {
        margin: 43px 0 0 30px;
        max-height: px-to-vw-tablet(208px);
    }

    @include media_desktop {
        margin: px-to-vh(58px) 0 0 px-to-vh(84px);
        max-height: 285px;
    }
}

.DescriptionTextContainer {
    text-align: justify;

    @include media_tablet {
        max-width: px-to-vw-tablet(430px);
        margin: px-to-vw-tablet(19px) 0 0 px-to-vw-tablet(30px);
    }

    @include media_desktop {
        max-width: 553px;
        margin: px-to-vh(20px) 0 0 px-to-vh(75px);
    }

    .HeadingText {
        color: black;
    }

    .FirstDescriptionText {
        @include media_tablet {
            margin: 0 0 px-to-vh-tablet(40px);
        }

        @include media_desktop {
            margin: 0 0 px-to-vh(37px);
        }
    }
    
    .SecondDescriptionText {
        @include media_tablet {
            word-spacing: -1px;
            margin: 0 0 px-to-vh-tablet(48px);
        }

        @include media_desktop {
            margin: 0 0 px-to-vh(42px);
        }
    }

    span {
        display: block;
        color: var(--color-grey);
    }
}

.Button {
    color: var(--color-burnt-sienna);

    @include media_tablet {
        font-size: px-to-vw-tablet(17px);
    }

    @include media_desktop {
        font-size: px-to-vh(25px);
    }

    &:hover {
        color: var(--color-international-orange);
    }
}
