@import '../../../assets/scss/medias';
@import '../../../assets/scss/helpers';

.MainContainer {
    
}

.Label {
    margin: 0 0 0 px-to-vh(10px);

    @include media_desktop {
        vertical-align: middle;
        font-size: px-to-vh(21px);
    }
}