@import '../../../assets/scss/medias';
@import '../../../assets/scss/helpers';

.MainPage {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-color: var(--color-white);

    @include media_tablet {
        width: px-to-vw-tablet(768px);
        max-width: 1023px;
    }

    @include media_desktop {
        width: 1024px;
        max-width: 1170px;
    }
}
