@import '../../../assets/scss/medias';
@import '../../../assets/scss/helpers';

.HeaderContainer {
    position: fixed;
    top: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    width: 100%;
    background-color: var(--color-white);

    @include media_tablet {
        height: px-to-vw-tablet(60px);
        padding: 0 px-to-vw-tablet(30px);
    }

    @include media_desktop {
        height: px-to-vh(90px);
        padding: 0 px-to-vh(45px);
    }    
}

.Logo {
    @include media_tablet {
        margin: auto px-to-vw-tablet(553px) auto 0;
    }

    @include media_desktop {
        margin: auto px-to-vh(575px) auto 0;
    }
}

.ButtonContainer {
    white-space: nowrap;
    width: min-content;
    display: inline-flex;

    button {
        &:hover {
            color: var(--color-burnt-sienna);
        }

        &:focus {
            color: var(--color-azure-radiance-dark);
        }
    }

    @include media_desktop {
        :nth-child(odd) {
            @include media_desktop {
                margin: auto px-to-vh(47px) auto 0;
            }
        }
    
        :nth-child(even) {
            @include media_desktop {
                margin: auto px-to-vh(50px) auto 0;
            }
        }
    }
}

.ActiveButton {
    color: var(--color-azure-radiance);
}