@import '../../../assets/scss/medias';
@import '../../../assets/scss/helpers';

.Input {
    width: 100%;
    max-width: 440px;
    appearance: none;
    background: none;
    color: black;
    display: block;
    height: 12px;
    outline: none;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;

    @include media_tablet {
        padding: 12px;
        font-size: px-to-vw-tablet(15px);
    }

    @include media_desktop {
        padding: 12px;
        font-size: px-to-vh(21px);
    }
}
