#root {
    --color-burnt-sienna: #ef5b4c;
    --color-international-orange: #c0362c;
    --color-international-orange-shadow: #f4beb3;
    --color-azure-radiance: #007bff;
    --color-azure-radiance-dark: #2151a2;
    --color-azure-radiance-shadow:#D1DFFF;
    --color-white: #fff;
    --color-spring-wood: #f9f9f3;
    --color-grey: #707070;
    --color-light-grey: #dbdbdb;

    --font-regular: Open Sans-Regular;
}