@import '../../../assets/scss/medias';
@import '../../../assets/scss/helpers';

.UserSectionContainer {
    background-color: var(--color-spring-wood);

    @include media_tablet {
        padding: px-to-vw-tablet(113px) 0 px-to-vw-tablet(121px);
    }

    @include media_desktop {
        padding: px-to-vh(225px) 0;
    }
}

.TextContainer {
    text-align: center;
}

.AttentionText {
    display: block;

    @include media_tablet {
        margin-top: px-to-vw-tablet(19px);
    }

    @include media_desktop {
        margin-top: px-to-vh(26px);
    }
}

.UserCellContainer {
    display: grid;
    align-items: center;

    @include media_tablet {
        grid-template-columns: 1fr 1fr 1fr;
        margin-top: px-to-vw-tablet(75px);
        padding: 0 px-to-vw-tablet(15px);
    }

    @include media_desktop {
        margin-top: px-to-vh(115px);
        padding: 0 px-to-vh(20px);
    }
}

.Button{
    @include media_tablet {
        margin-top: px-to-vw-tablet(-24px);
        padding: px-to-vw-tablet(5px) px-to-vw-tablet(62px);
    }

    @include media_desktop {
        margin-top: 0;
        padding: px-to-vh(9px) px-to-vh(92px) px-to-vh(10px);
    }
}