@import '../../../../assets/scss/medias';
@import '../../../../assets/scss/helpers';

.ButtonText {
    outline: none;
    background: none;
    border: none;
    padding: 0;
    position: relative;
}