@import '../../../assets/scss/medias';
@import '../../../assets/scss/helpers';

.Button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    height: auto;
    width: auto;
    display: block;
    margin: 0;
    user-select: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
}