@import '../../../../assets/scss/medias';
@import '../../../../assets/scss/helpers';

.ButtonColor {
    background-color: var(--color-burnt-sienna);
    border: solid 1px var(--color-burnt-sienna);
    border-radius: 4px;
    color: var(--color-white);
    height: 36px;
    margin: 0 auto;
    max-width: 100%;
    padding: px-to-vh(9px) px-to-vh(74px) px-to-vh(12px);
    transition: all 0.8s ease;
    white-space: nowrap;
    width: min-content;
    font-family: 'Open Sans', sans-serif;
    outline: none;

    span {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &:hover {
        background-color: var(--color-international-orange);
        border: solid 1px var(--color-international-orange);
    }

    @include media_tablet {
        font-size: px-to-vw-tablet(16px);
        padding: px-to-vw-tablet(5px) px-to-vw-tablet(58px);
        height: px-to-vw-tablet(37px);
        max-height: 40px;
    }

    @include media_desktop {
        font-size: px-to-vh(24px);
        padding: px-to-vh(10px) px-to-vh(87px);
        height: px-to-vh(55px);
        max-height: 60px;
    }
}
