@import '../../../assets/scss/medias';
@import '../../../assets/scss/helpers';

.RegisterContainer {

    @include media_tablet {
        padding: px-to-vw-tablet(111px) 0;
    }

    @include media_desktop {
        padding: px-to-vh(225px) 0;
    }
}

.HeaderContainer {
    text-align: center;
}

.MainContainer {
    display: block;
    margin: 0 auto;
    align-items: center;

    @include media_tablet {
        max-width: px-to-vw-tablet(468px);
    }

    @include media_desktop {
        max-width: 465px;
    }
}

.AttentionText {
    display: block;
    text-align: center;

    @include media_tablet {
        margin: px-to-vw-tablet(18px) 0 px-to-vw-tablet(26px);
        line-height: 1.5;
    }

    @include media_desktop {
        margin: px-to-vh(26px) 0 px-to-vh(40px);
    }
}

.PromptPhoneText {
    display: block;

    @include media_tablet {
        margin-top: px-to-vw-tablet(4px);
        font-size: px-to-vw-tablet(12px);
    }
    
    @include media_desktop {
        margin-top: px-to-vh(8px);
        font-size: px-to-vh(18px);
    }
}

.InputLabel {
    @include media_tablet {
        font-size: px-to-vw-tablet(15px);
    }

    @include media_desktop {
        font-size: px-to-vh(21px);
    }
}

.InputField {
    border-radius: 4px;
    border: solid 1px var(--color-light-grey);

    @include media_tablet {
        margin: px-to-vw-tablet(8px) 0 0;
    }
    
    @include media_desktop {
        margin: px-to-vh(14px) 0 0;
    }

    &:focus{
        border-color: var(--color-azure-radiance);
        box-shadow: 0 0 2px 2px var(--color-azure-radiance-shadow);
    }
}

.InputContainer {
    margin-bottom: px-to-vh(30px);
}

.PositionsContainer{
    margin-bottom: px-to-vh(25px);
    display: block;
}

.PositionLabel {
    @include media_desktop {
        font-size: px-to-vh(21px);
    }
}

.RadioButtonContainer {
    margin-top: px-to-vh(30px);
}

.InputFileField {
    display: flex;
}

.Button {
    @include media_tablet {
        margin-top: px-to-vw-tablet(40px);
    }

    @include media_desktop {
        margin-top: px-to-vh(60px);
    }
}

.InputError {
    border-color: var(--color-burnt-sienna);

    &:focus{
        border-color: var(--color-international-orange);
        box-shadow: 0 0 2px 2px var(--color-international-orange-shadow);
    }
}

.ErrorText {
    @include media_desktop {
        color: var(--color-burnt-sienna);
        font-size: px-to-vh(18px);
    }
}
