@import '../../../../assets/scss/medias';
@import '../../../../assets/scss/helpers';

.HiddenInput {
    display: none;
}

.InputField {
    display: flex;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: var(--color-grey);
    padding-left: 12px;

    @include media_tablet {
        height: px-to-vw-tablet(37px);
        font-size: px-to-vw-tablet(15px);
    }

    @include media_desktop {
        height: px-to-vh(55px);
        font-size: px-to-vh(21px);
    }
}

.PlaceHolderText {
    margin: auto 0;
}

.Button {
    margin: 0 0 0 auto;
    background-color: var(--color-spring-wood);
    border: none;
    border-left: solid 1px var(--color-light-grey);
    border-radius: 0;
    color: black;
    height: 100%;
    width: 18%;

    @include media_tablet {
        font-size: px-to-vw-tablet(14px);
    }

    @include media_desktop {
        font-size: px-to-vh(21px);
    }

    &:focus {
        border-color: var(--color-light-grey);
    }
}

