@import '../../../assets/scss/medias';
@import '../../../assets/scss/helpers';

.BannerContainer {
    overflow: hidden;
    cursor: default;
    color: var(--color-white);

    @include media_tablet {
        margin-top: px-to-vw-tablet(60px);
        max-height: px-to-vw-tablet(500px);
    }

    @include media_desktop {
        margin-top: px-to-vh(90px);
    }
}

.BannerImage {
    background-size: cover;
    width: 100%;
    height: 100%;

    @include media_tablet {
        height: 100%;
        width: 134%;
    }
}

.ContentContainer {
    position: absolute;
    display: block;

    @include media_tablet {
        padding: 0 0 0 px-to-vw-tablet(30px);
        top: px-to-vw-tablet(119px);
    }

    @include media_desktop {
        padding: 0 0 0 px-to-vh(45px);
        top: px-to-vh(250px);
        max-width: 530px;
    }
}

.TitleText {
    text-transform: uppercase;
    white-space: pre-wrap;
    display: block;

    @include media_tablet {
        max-width: px-to-vw-tablet(420px);
    }

    @include media_desktop {
        max-width: 520px;
    }
}

.DescriptionText {
    display: block;
    text-align: left;

    @include media_tablet {
        margin: px-to-vw-tablet(28px) 0 px-to-vw-tablet(35px);
        max-width: px-to-vw-tablet(450px);
    }
    
    @include media_desktop {
        margin: px-to-vh(35px) 0 px-to-vh(53px);
    }
}

.SingUpButton {
    margin-left: 0;
}

